/pythonProject/.venv/
/pythonProject/BugFix/
/pythonProject/Exercises/
/pythonProject/Experiments/
/pythonProject/bonus/
/pythonProject/TEST.py
/pythonProject/weather.csv
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/PythonCodeClass2023.iml
/.idea/vcs.xml
/pythonProject/.idea/inspectionProfiles/profiles_settings.xml
/pythonProject/.idea/inspectionProfiles/Project_Default.xml
/pythonProject/.idea/.gitignore
/pythonProject/.idea/.name
/pythonProject/.idea/misc.xml
/pythonProject/.idea/modules.xml
/pythonProject/.idea/pythonProject.iml
/pythonProject/journal/2-23-2024.txt
